#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  margin: 1rem;
  height:100%;
  width:100%;
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  box-sizing: border-box;
  /* border: solid 0.1rem aquamarine; */
}
.modal{
  position:absolute;
  top:calc(50vh - 8rem);
  left:calc(50vw - 12rem);
  background-color: white;
  border-radius: 1rem;
  height:16rem;
  width: 24rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem 1rem 2rem;
}
li:nth-child(odd){
  background-color: #f3f3f3;
}
.read-the-docs {
  color: #888;
}

